<%=@task.id %>


<h1><%=@task.title %></h1>
<p><%=@task.details %><p>
<p> task complete = <%=@task.completed %></p>
<br>
<br>
<%= link_to "edit", edit_path %>
<br>
<br>
<br>
<%= link_to "back to tasks", tasks_path %>
<br>
<br>
<br>
